/* Messages */
.chat-message-item {
    display: flex;
    padding: 10px;
    margin-top: 12px;
    /* margin-left: 10px; */
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
}

.chat-messages-body {
    height: 470px;
    overflow-y: scroll;
}

.chat-messages-body-info {
    display: flex;
    flex-direction: column;
}

.chat-messages-body-info-content {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--black);
}

.chat-message-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.emoji-picker-open-btn.chat-emoji-picker-open-btn {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 2px;
}

.emoji-picker-close-btn.chat-emoji-picker-close-btn {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 2px;
}

/* MIC */
.audio-mute-message.chat-audio-mute-message {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2px;
}

.audio-un-mute-message.chat-audio-un-mute-message {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2px;
}

/* button not accept */
.btn-not-accept-call {
    margin-top: 12px;
    /* border: none; */
    /* outline: none; */
    font-size: 1.6rem;
    font-weight: 600;
    padding: 20px;
    line-height: 0;
    text-align: center;
    border-radius: 100px;
    color: var(--white);
    background-color: var(--status-alarm);
}

.btn-not-accept-call:hover {
    border-color: 1px solid var(--status-alarm) !important;
    color: var(--white) !important;
    opacity: 0.8;
    transition: all 0.2s;
}