.wrapper-schedule-medical-meeting {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    background-color: var(--modal-meeting);
    box-shadow: 0 0 22px 0 var(--modal-meeting-box-shadow);
    height: 600px;
    overflow: scroll;
}

.schedule-medical-meeting-cart {
    position: relative;
    margin: 0 auto;
    border-radius: 12px;
    padding: 10px;
    margin-left: 30px;
    margin-right: 10px;
    margin-bottom: 24px;
    background: linear-gradient(89.37deg,rgba(255,255,255,.92) 16.06%,rgba(255,255,255,.74) 99.35%);
    box-shadow: 0 0 10px 0 rgba(0, 0 , 0, 0.2);
}

.schedule-medical-meeting-cart:hover {
    opacity: 0.9;
    box-shadow: 0 0 4px 0 rgba(0, 0 , 0, 0.2);
    transition: all 0.2s;
}

.schedule-medical-meeting-cart-image {
    width: 240px !important;
    border-radius: 12px;
    object-fit: cover;
}

.schedule-medical-meeting-cart-info {
    display: flex;
    flex-direction: column;
}

.schedule-medical-meeting-cart-info-item {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.icon-item-time {
    margin-left: 4px;
    margin-right: 10px;
    width: 16px;
    height: 16px;
    object-fit: cover;
}

.icon-item {
    margin-right: 6px;
}

.desc-item {
    width: 200px;
    font-size: 1.4rem;
    margin-bottom: 0 !important;
    font-weight: 600;
    text-align: justify;
    color: var(--black);
}

/* Button */
.schedule-medical-meeting-cart-btn {
    margin-top: 12px;
    border: none;
    outline: none;
    width: 100%;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 20px;
    line-height: 0;
    text-align: center;
    border-radius: 100px;
    color: var(--white);
    background-color: var(--primary);
}

.schedule-medical-meeting-cart-btn:hover {
    border: none;
    outline: none;
    opacity: 0.8;
    color: var(--white) !important;
    background-color: var(--btn-primary-hover);
    box-shadow: 0 0 0 0.2rem rgb(76 225 198 / 25%);
}

/* Option filter */
.display-filter-meeting {
    display: flex;
    justify-content: flex-end;
    margin-top: -14px;
    margin-bottom: 3px;
}

.cart-meeting-show-conversation-message {
    margin-top: 12px;
    border: none;
    outline: none;
    width: 100%;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 20px;
    line-height: 0;
    text-align: center;
    border-radius: 100px;
    color: var(--white);
    background-color: var(--blu);
}

.cart-meeting-show-conversation-message:hover {
    border: none;
    outline: none;
    opacity: 0.8;
    color: var(--white) !important;
    background-color: var(--blu);
    box-shadow: 0 0 0 0.2rem rgb(76 225 198 / 25%);
}

