.register-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.register-phone-number {
    position: relative;
    display: inline-flex;
    width: 100%;
    min-width: 0;
    padding: 8px 11px;
    color: rgba(0, 0, 0, 0.88);
    font-size: 1.4rem;
    line-height: 1.5714285714285714;
    background-color: #ffffff;
    background-image: none;
    border-width: 1px;
    border-style: solid;
    border-color: #d9d9d9;
    border-radius: 6px;
    transition: all 0.2s;
}

.register-phone-number:hover {
    border: 1px solid #4096ff;
}

.PhoneInputInput {
    border: none;
}


.PhoneInputInput:focus {
    border: none;
    outline: none;
}