.room-wrapper {
    position: relative;
    top: -40px;
    height: 150px;
}

.room-container {
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    height: 600px;
}

/* Button confirm called */
.confirm-called {
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirm-called-btn {
    margin-top: 10px;
    border: none;
    outline: none;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 20px;
    line-height: 0;
    text-align: center;
    border-radius: 100px;
    color: var(--white);
    background-color: var(--primary);
}

.confirm-called-btn:hover {
    border: none;
    outline: none;
    opacity: 0.8;
    color: var(--white) !important;
    background-color: var(--btn-primary-hover);
    box-shadow: 0 0 0 0.2rem rgb(76 225 198 / 25%);
}