@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700&display=swap');

/* init var */
:root {
    /* color */
    --primary: #1DCBB6;
    --blu: #2320D4;
    --white: #ffffff;
    --black: #111c63;
    --footer: #242a61;
    --orange-gradient: linear-gradient(268.35deg, rgba(255, 70, 70, 0.99) 3.47%, rgba(255, 114, 70, 0.99) 60.18%);
    --status-online: #15a85f;

    /* status heath of patient */
    --status-waring: #ffa500;
    --status-alarm: #ff0000;
    --status-normal: #37d137;

    /* btn primary hover */
    --btn-primary-hover: #30b5a1;
    --btn-blu-hover: #201dc4;

    /* background hover with opacity */
    --bg-opacity: #f1f5fa;

    /* Menu icon */
    --menu-icon: #ccd6ef;

    /* modal */
    --modal-out-site: rgba(255, 255, 255, 0.7);
    --modal-meeting: rgb(230 230 230 / 0%);
    --modal-meeting-box-shadow: rgb(230 230 230 / 70%);

    /* background images */
    --bg-out-site-left: url('https://cdn.jiohealth.com/jio-website/home-page/jio-website-v2.2/assets/images/online-pharmacy-video-cover.svg');
    --bg-out-site-right: url('https://cdn.jiohealth.com/jio-website/home-page/jio-website-v2.2/assets/images/not-feeling-well.svg');
    --bg-in-site-clinic: url('https://cdn.jiohealth.com/jio-website/home-page/jio-website-v2.2/multi-clinic-bg-2.svg');
    --bg-in-site-clinic-box-shadow: url('https://cdn.jiohealth.com/jio-website/home-page/jio-website-v2.2/multi-clinic-bg.svg');

    /* font-family */
    --font-family: 'Barlow', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

/* default */
body {
    font-family: var(--font-family);
    color: var(--white);
    overflow-y: overlay;
    overflow-x: overlay;
}

a {
    text-decoration: none;
    color: var(--black);
}

/* Scrollbar Css */
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
