.tbl-schedule-medical {
    height: 300px;
    overflow-x: 1px !important;
}

.status-tbl-schedule-medical {
    display: flex;
    align-items: center;
}

.btn-delete-schedule {
    margin-left: 4px;
    border: 1px solid red;
    color: var(--white);
    background-color: red;
}

.btn-delete-schedule:hover {
    opacity: 0.6 !important;
    color: var(--white) !important;
    border: 1px solid red !important;
    outline: red;
}

.btn-show-history-exam {
    margin-right: 4px;
    border: 1px solid var(--status-normal);
    color: var(--white);
    background-color: var(--status-normal);
}

.btn-show-history-exam:hover {
    color: var(--white) !important;
    border: 1px solid var(--status-normal) !important;
    outline: var(--status-normal);
    opacity: 0.8;
}

.show-conversation-message {
    border-radius: 4px;
    margin-left: 4px;
    border: 1px solid var(--blu);
    color: var(--white);
    background: var(--blu);
}

.show-conversation-message:hover {
    opacity: 0.8;
    color: var(--white) !important;
    border: 1px solid var(--blu);
    outline: var(--blu);
}

.btn-detail-info-patient {
    margin-right: 4px;
    background-color: var(--blu);
}

.btn-detail-info-patient:hover {
    opacity: 0.8;
    background-color: var(--blu) !important;
}

.container-info-details-patient {
    margin-left: 12px;
}

.container-info-details-patient li {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--black);
}

.container-info-details-patient li i {
    margin-right: 12px;
}

.display-info-details-patient-avatar {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

}

.info-details-patient-avatar {
    width: 82px !important;
    height: 82px !important;
    border-radius: 20px;
    object-fit: cover;
}

.modal-container-history {
    overflow-y: scroll;
    height: 80vh;
}