.info-patient {
    display: flex;
    flex-direction: column;
}

.info-detail {
    display: flex;
    align-items: center;
    margin-top: 2px;
}

.info-detail strong {
    font-size: 1.6rem;
}

.info-text {
    margin-left: 10px;
    font-size: 1.6rem;
    font-weight: 500;
}

.container-chart {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-between; */
    width: 100%;
}

.bmi-glycemic-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.blood-pressures-container {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.inner-chart {
    /* width: 100%; */
}

.container-bar-chart {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

/* Button position on map */
.position-on-map-btn {
    border: none;
    outline: none;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 20px;
    line-height: 0;
    text-align: center;
    border-radius: 100px;
    color: var(--white);
    background-color: var(--primary);
}

.position-on-map-btn:hover {
    border: none;
    outline: none;
    opacity: 0.8;
    color: var(--white) !important;
    background-color: var(--btn-primary-hover);
    box-shadow: 0 0 0 0.2rem rgb(76 225 198 / 25%);
}

/* remind */
.remind-patient {
    display: flex;
    justify-content: center;
}

.remind-patient-btn {
    border: none;
    outline: none;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 20px;
    line-height: 0;
    text-align: center;
    border-radius: 100px;
    color: var(--white);
    background-color: var(--btn-primary-hover);
}

.remind-patient-btn:hover {
    border: none;
    outline: none;
    opacity: 0.8;
    color: var(--white) !important;
    background-color: var(--btn-primary-hover);
    box-shadow: 0 0 0 0.2rem rgb(76 225 198 / 25%);
}