.display-modal-patient-list {
    display: flex;
}

.info-patient {
    /* display: flex; */
    /* flex-direction: column; */
}

.info-detail {
    display: flex;
    align-items: center;
    margin-top: 2px;
}

.info-detail strong {
    font-size: 1.6rem;
}

.info-text {
    margin-left: 10px;
    font-size: 1.6rem;
    font-weight: 500;
}

.container-chart {
    /* display: flex; */
    /* flex-direction: column; */
    width: 100%;
    flex: 10;
    height: 0;
}

.bmi-glycemic-container {
    display: flex;
    justify-content: center;
    width: 100%;
}


.inner-chart canvas {
    width: 400px !important;
    height: 260px !important;
    margin: 0 auto;
}

.blood-pressures-container {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.inner-chart {
    /* width: 100%; */
    /* display: flex;
    flex-direction: column; */
}

.filter-glycemic {
    display: flex;
    justify-content: flex-start;
    margin-left: 22px;
}

.message-status-title {
    font-size: 1.2rem;
}

.message-status-lbl {
    font-size: 1.6rem;
    font-weight: 600;
    margin-right: 4px;
}

.message-status-desc {
        display: flex;
        flex-direction: column;
        font-size: 1.6rem;
        font-weight: 600;
        margin-top: 28px;
        margin-bottom: 16px;
    
        background-image: linear-gradient(-225deg,
                #231557 0%,
                #44107a 29%,
                #ff1361 67%,
                #fff800 100%);
        background-size: auto auto;
        background-clip: border-box;
        background-size: 100% auto;
        color: var(--white);
        background-clip: text;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textclip 4s linear infinite;
}

/* Animation text */
@keyframes textclip {
  to {
    background-position: -200% center;
  }
}

.container-bar-chart {
    display: flex;
    justify-content: space-between;
}

/* Button position on map */
.position-on-map-btn {
    border: none;
    outline: none;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 20px;
    margin-top: 24px;
    line-height: 0;
    text-align: center;
    border-radius: 100px;
    color: var(--white);
    background-color: var(--primary);
}

.position-on-map-btn:hover {
    border: none;
    outline: none;
    opacity: 0.8;
    color: var(--white) !important;
    background-color: var(--btn-primary-hover);
    box-shadow: 0 0 0 0.2rem rgb(76 225 198 / 25%);
}

/* Footer buttons */
.container-modal-patient-list {
    flex: 3;
    height: 0;
}

.display-btn-modal-footer {
    /* display: flex; */
    /* flex-direction: column; */
}

/* remind */
.remind-patient {
    display: flex;
    justify-content: center;
}

/* Button remind */
.remind-patient-btn {
    border: none;
    outline: none;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 20px;
    margin: 16px 0;
    line-height: 0;
    text-align: center;
    border-radius: 100px;
    color: var(--white);
    background-color: var(--btn-primary-hover);
}

.remind-patient-btn:hover {
    border: none;
    outline: none;
    opacity: 0.8;
    color: var(--white) !important;
    background-color: var(--btn-primary-hover);
    box-shadow: 0 0 0 0.2rem rgb(76 225 198 / 25%);
}

/* Button stop exam */
.stop-examinated-patient-btn {
    border: none;
    outline: none;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 20px;
    margin-bottom: 16px;
    line-height: 0;
    text-align: center;
    border-radius: 100px;
    color: var(--white);
    background: var(--orange-gradient);
    margin-left: 6px;
}

.stop-examinated-patient-btn:hover {
    border: none;
    outline: none;
    opacity: 0.8;
    color: var(--white) !important;
    background: var(--orange-gradient);
    box-shadow: 0 0 0 0.2rem rgb(76 225 198 / 25%);
}

/* Button move patient */
.move-patient-btn {
    border: none;
    outline: none;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 20px;
    line-height: 0;
    text-align: center;
    border-radius: 100px;
    color: var(--white);
    background-color: var(--blu);
    margin-left: 6px;
}

.move-patient-btn:hover {
    border: none;
    outline: none;
    opacity: 0.8;
    color: var(--white) !important;
    background-color: var(--blu);
    box-shadow: 0 0 0 0.2rem rgb(76 225 198 / 25%);
}

.display-chart-gly-blood {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.history-watch-btn {
    border: none;
    outline: none;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 20px;
    line-height: 0;
    text-align: center;
    border-radius: 100px;
    color: var(--white);
    background-color: var(--status-normal);
    margin-top: 16px;
    margin-left: 6px;
}

.history-watch-btn:hover {
    opacity: 0.8;
    color: var(--white) !important;
    transition: all 0.2s;
}

/* show history */
.history-watch {
    display: flex;
    flex-direction: column;
    flex: 10;
}

.history-body {
    position: relative;
    overflow-y: scroll;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    height: 82vh;
}

.custom-load-more-btn {
    border-radius: 20px;
    width: 10%;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 12px;
    color: var(--white);
    background-color: var(--primary);
    box-shadow: 0 0 12px 0 var(--primary);
    z-index: 5;
}

.custom-load-more-btn:hover {
    color: var(--white) !important;
    border-color: var(--primary) !important;
}

.history-icon-back {
    font-size: 1.6rem;
    font-weight: 800;
    color: var(--black);
}

.history-icon-back:hover {
    color: var(--primary);
    opacity: 0.8;
    transition: all 0.2s;
    cursor: pointer;
}