.wrapper-bg-out-site {
    background-image: url('../../asset/images/bg-out-site.png');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container {
    width: 500px;
    margin: 0 auto;
    border-radius: 6px;
    padding: 12px;
    background-color: var(--bg-out-site);
    box-shadow: 0 0 18px 0 var(--bg-out-site);
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
}

.title {
    text-align: center;
    font-size: 2.6rem;
}

.inputs {
    margin-top: 22px;
}