.wrapper-message-item-chat-bot {
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
}

.container-message-chatbot {
    display: flex;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 8px;
    border-radius: 8px;
    padding: 0 32px;
    padding: 6px;
    margin-left: 12px;
    background-color: #2f8f83;
}

.container-message-chatbot.chatgpt {
    display: flex;
    align-items: center;
    background-color: var(--primary);
    margin-right: 10px;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #fff;
}

.avatar.chatgpt {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin: 4px 0;
    background-color: aquamarine;
}

.message {
    font-size: 1.4rem;
    font-weight: 600;
    color: #fff;
    padding: 6px 0;
}