.wrapper-footer {
    position: absolute;
    left: 0;
    right: 0;
    top: 700px;
    padding: 85px 0;
    display: flex;
    flex-direction: column;
    z-index: -1;
    background-color: var(--footer);
}

.footer-inner {
    display: flex;
    justify-content: center;
    margin-bottom: 26px;
}

.footer-logo {
    width: 270px;
}

.footer-info ul {
    list-style: none;
    margin: 0 42px;
}

.footer-info ul li {
    font-size: 1.4rem;
}

.footer-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-info-item {
    font-size: 1.4rem;
    font-weight: 650;
    line-height: 2.4rem;
}