.dashboard-wrapper {
    position: relative;
    width: 100%;
}

.dashboard-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

/* Left */
.dashboard-container-left {
    display: flex;
    flex-direction: column;
    /* flex: 8; */
    width: 100%;
    margin-right: 10px;
    border-radius: 6px;
    padding: 10px;
    background-color: var(--modal-meeting);
    box-shadow: 0 0 22px 0 var(--modal-meeting-box-shadow);
}

/* Right */
.dashboard-container-right {
    display: flex;
    flex: 4;
    border-radius: 6px;
    padding: 10px;
    background-color: var(--modal-meeting);
    box-shadow: 0 0 22px 0 var(--modal-meeting-box-shadow);
}

.dashboard-date-now {
    font-size: 1.4rem;
    font-weight: 600;
    background: linear-gradient(271.41deg, #3300c4 11.44%, #D68397 93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 20px;
    margin-top: 12px;
}