.container-await-rule-doctor {
    position: fixed;
    top: 0;
    inset-inline-end: 0;
    bottom: 0;
    inset-inline-start: 0;
    z-index: 1000;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
}

.container-await-rule-doctor h6 {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 3rem;
    background: linear-gradient(271.41deg, #3300c4 11.44%, #D68397 93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.loading-await-rule-doctor {
    text-align: center;
    position: absolute;
    top: 34%;
    left: 0;
    right: 0;
}

.icon-await-rule-doctor {
    background-color: green;
    border-radius: 50%;
    font-size: 3.4rem;
    margin-right: 10px;
}

/* Animation ...  */
.container-await-rule-doctor h6:after {
    content: "...";
    text-align: center;
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    animation: ellipsis-dot-message 1s infinite .3s;
    animation-fill-mode: fowards;
    width: 3.4rem;
    font-size: 3.2rem;
}

@keyframes ellipsis-dot-message {
    25% {
        content: "";
    }

    50% {
        content: ".";
    }

    75% {
        content: "...";
    }

    100% {
        content: "....";
    }
}
/* Animation ... */

.icon-delete-await-rule-doctor {
    background-color: red;
    border-radius: 50%;
    font-size: 3.4rem;
    margin-right: 10px;
}

.await-rule-doctor-notification {
    display: flex;
    flex-direction: column;
}

.await-rule-doctor-back {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    font-size: 2.6rem;
    text-align: center;
}

.await-rule-doctor-back-btn {
    border: 1px solid var(--status-alarm);
    color: var(--white);
    background-color: var(--status-alarm);
}

.await-rule-doctor-back-btn:hover {
    cursor: pointer;
    opacity: 0.8;
    border: 1px solid var(--status-alarm) !important;
    color: var(--white) !important;
    transition: all 0.3s;
}