.display-btn-filter-status-register-schedule {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.btn-filter-status-register-schedule {
    font-size: 1.6rem;
    font-weight: 600;
    margin-right: 10px;
    padding: 20px;
    line-height: 0;
    text-align: center;
    border-radius: 100px;
    /* color: var(--white); */
    /* background-color: var(--blu); */
}

.btn-filter-status-register-schedule-active {
    font-size: 1.6rem;
    font-weight: 600;
    margin-right: 10px;
    padding: 20px;
    line-height: 0;
    text-align: center;
    border-radius: 100px;
    color: var(--white); 
    background-color: var(--blu);
}

.btn-filter-status-register-schedule:hover, .btn-filter-status-register-schedule-active:hover {
    cursor: pointer;
    color: var(--white) !important;
    background-color: var(--blu);
    opacity: 0.9;
    transition: all 0.3s;
}