.list-register-schedule-appointment-banner {
    position: relative;
    width: 100%;
    height: 462px;
    background-image: url(https://cdn.jiohealth.com/jio-website/home-page/jio-website-v2.2/assets/images/not-feeling-well.svg);
    background-size: cover;
    background-position: center center;
    padding-top: 107px;
    z-index: 1;
}

.progress-bar {
    position: absolute;
    top: 0;
    left: 40px;
    width: 32%;
    height: 5px;
    background: var(--primary);
    border-radius: 100px;
    z-index: 2;
}

.tab-list-register-history {
    position: absolute;
    top: -40px;
    left: 30px;
    border-bottom: none;
    z-index: 2;
}

.tab-item-active {
    border: none;
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: 6px;
    padding: 22px;
    margin-left: 25px;
    line-height: 0;
    color: var(--white);
    background-color: var(--primary);
    box-shadow: 0 0 12px 0 var(--primary);
}

.tab-item {
    border: none;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 22px;
    line-height: 0;
    margin-left: 25px;
    color: var(--black);
    background-color: var(--white);
}

.tab-item:hover, .tab-item-active:hover {
    color: var(--white) !important;
    background-color: var(--primary);
    transition: all 0.2s;
}

.list-register-schedule-appointment-img-left {
    position: absolute;
    width: 100%;
    top: 0;
    background-position: center center;
}

.display-btn-filter-status-register-schedule {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
}

.btn-filter-status-register-schedule {
    font-size: 1.6rem;
    font-weight: 600;
    margin-right: 10px;
    padding: 20px;
    line-height: 0;
    text-align: center;
    border-radius: 100px;
    /* color: var(--white); */
    /* background-color: var(--blu); */
}

.btn-filter-status-register-schedule-active {
    font-size: 1.6rem;
    font-weight: 600;
    margin-right: 10px;
    padding: 20px;
    line-height: 0;
    text-align: center;
    border-radius: 100px;
    color: var(--white); 
    background-color: var(--blu);
}

.btn-filter-status-register-schedule:hover, .btn-filter-status-register-schedule-active:hover {
    cursor: pointer;
    color: var(--white) !important;
    background-color: var(--blu);
    opacity: 0.9;
    transition: all 0.3s;
}

/* Calls */
.display-calls {
    display: flex;
    align-items: center;
    justify-content: center;
}

.call-title-name-from {
    color: var(--black);
    font-size: 1.6rem;
    font-weight: 600;
}

.call-go-to-room-awaiting {
    margin-top: 12px;
    font-size: 1.6rem;
    font-weight: 600;
    margin-right: 10px;
    padding: 20px;
    line-height: 0;
    text-align: center;
    border-radius: 100px;
    color: var(--white); 
    background-color: var(--status-normal);
}

.call-go-to-room-awaiting:hover {
    cursor: pointer;
    opacity: 0.9;
    outline-color: var(--status-normal) !important;
    border: 1px solid var(--status-normal) !important;
    color: var(--white) !important;
    transition: all 0.3s ;
}

.content-cart-item {
    position: relative;
}

.re-join-room {
    position: absolute;
    bottom: 22px;
    right: 12px;
}

.re-join-room-btn {
    border: none;
    outline: none;
    width: 100%;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 20px;
    line-height: 0;
    text-align: center;
    border-radius: 100px;
    color: var(--white);
    background-color: var(--primary);
}

.re-join-room-btn:hover {
    opacity: 0.8;
    color: var(--white) !important;
}

.content-cart-item-note-success-right {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 6px;
    font-size: 1.6rem;
    font-weight: 600;
    background-color: var(--status-normal);
    box-shadow: 0 0 12px 0 var(--status-normal);
}

.content-cart-item-note-await-right {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 6px;
    font-size: 1.6rem;
    font-weight: 600;
    background-color: var(--status-waring);
    box-shadow: 0 0 12px 0 var(--status-waring);
}

.content-cart-item-note-day-exam {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 12px;
    font-size: 1.6rem;
    font-weight: 700;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 6px;
    background-color: var(--primary);
    box-shadow: 0 0 22px 0 var(--primary);
}

.content-cart-item-note-day-exam-awaiting {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 12px;
    font-size: 1.6rem;
    font-weight: 700;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 6px;
    background-color: var(--cart-item);
    box-shadow: 0 0 22px 0 var(--cart-item);
}

.content-cart-item-note-day-exam-time-icon {
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin-right: 6px;
    animation: iconTime 2s infinite;
}

@keyframes iconTime {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.content-cart-item-footer-btn.cancel-schedule-register {
    background-color: var(--status-alarm);
}

.message-empty-schedule {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--black);
}

.register-schedule-appointment-content-container {
    position: relative;
    background: #fff;
    border-radius: 30px 30px 0 0;
    padding: 30px 50px 40px;
    margin-top: -240px;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.25);
}

.cancel-schedule-register-disabled {
    background-color: #ccc !important;
    cursor: not-allowed;
    /* pointer-events: none; */
}