.wrapper-information-of-doctor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-of-doctor-item {
    display: flex;
    align-items: center;
}

.information-of-doctor-item-name {
    font-size: 1.4rem;
    color: var(--black);
    margin-left: 6px;
}

.information-of-doctor-title {
    text-align: center;
    font-size: 2.6rem;
    background: linear-gradient(271.41deg, #3300c4 11.44%, #D68397 93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 14px;
}

.display-img-update {
    width: 62px;
    height: 62px;
    border-radius: 10px;
    margin-left: 124px;
    object-fit: cover;
}