.wrapper-information-of-doctor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-of-doctor-item {
    display: flex;
    align-items: center;
}

.information-of-doctor-item-name {
    font-size: 1.4rem;
    color: var(--black);
    margin-left: 6px;
}